@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
    --pink: #d83f87;
    --bgcolor: black;
    --fira: "Fira Sans", sans-serif;
    --third-color: #2a1b3d;

    --desc-bord: rgba(42, 27, 61, 0.5);
    --desc: rgba(42, 27, 61, 0.3);
    --glass: rgba(255, 255, 255, 0.1);

}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
   
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--poppins);
    background-color: var(--bgcolor);
    
}

main{
    display: block;
}





/*--------------------------------------------Backgrund animation-----------------------------*/

.wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -10;

}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}



.box div {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #d9d9d9;
    opacity: 0.1;
    border-radius: 3px;
}

.box div:nth-child(1) {
    top: 100%;
    left: 42%;
    animation: animate 7.5s linear infinite;
    opacity: 0.3;
}

.box div:nth-child(2) {
    top: 100%;
    left: 50%;
    animation: animate 11s linear infinite;
}

.box div:nth-child(3) {
    top: 100%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
    top: 100%;
    left: 60%;
    animation: animate 13s linear infinite;
    opacity: 0.2;
}

.box div:nth-child(5) {
    top: 100%;
    left: 14%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(6) {
    top: 100%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 100%;
    left: 95%;
    animation: animate 13s linear infinite;
    opacity: 0.3;
}

.box div:nth-child(8) {
    top: 100%;
    left: 34%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(9) {
    top: 100%;
    left: 25%;
    animation: animate 5s linear infinite;
    opacity: 0.3;
}

.box div:nth-child(10) {
    top: 100%;
    left: 80%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(11) {
    top: 100%;
    left: 90%;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
    }

    100% {
        transform: scale(2) translateY(-400px) rotate(360deg);
    }
}

/**-------------------------------onscroll animation*******************/
.animate {
    opacity: 0;
}

.move-right {

    transform: translateX(-25%);
}

.move-right.reveal {
    opacity: 1;
    transform: translateX(0);
    transition: ease-in 1s;

}

.move-left {

    transform: translateX(25%);
}

.move-left.reveal {
    opacity: 1;
    transform: translateX(0);
    transition: ease-in 1s;

}


.hide-js {

    transform: scale(80%)
}

.hide-js.reveal {
    opacity: 1;
    transition: ease-in 1s;
    transform: scale(100%);
}

.move-up {

    transform: translateY(25%);
}

.move-up.reveal {
    opacity: 1;
    transform: translateY(0);
    transition: ease-in 1s;

}



.scale-out {
    transform: scale(70%);
}

.scale-out.reveal {
    opacity: 1;
    transform: scale(100%);

    transition: ease-in 1s;

}



/*------------------------------ header--------------------------------- */


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 10vw;
    background-color: var(--bgcolor);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

header div {
    display: flex;
    align-items: center;
    margin-left: 12vw;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 12vw;
}


span {
    color: var(--pink);
}

header nav a {
    padding: 20px 30px;
    margin: 0 5px;
    border-radius: 30px;
    text-decoration: none;
    transition: ease-in 0.3s;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1vw;
}

header div h1 {
    font-size: 4vw;
    font-weight: 400;
    color: #ffffff;
    cursor: default;
}

header nav a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 3px #ffffff;
}

header nav a.active {
    background-color: #d83f87;
}

#menu-toggle {
    display: none;
    font-size: 6vw;
    cursor: pointer;
    color: white;
}






/*------------------------------home section---------------------------------------*/



.home {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 75vh;
    color: #ffffff;



}


.home-intro {


    margin-left: 14vw;
    padding-right: 3%;


}


.space {
    min-height: 25vh;
    width: 100%;
}

.home-img {


    display: flex;
    justify-content: center;
    flex-direction: column;


}



.profile-img {
    max-width: 100%;
    min-height: auto;
    border-radius: 50%;
    box-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.5);
}


.home div h1,
.home div h3,
.home div p {
    margin: 0;
    padding: 0;

}

.home div h1 {
    font-size: clamp(2rem, 4.5vw,4.5rem);
    margin: 0;
    padding: 0;
    font-family: var(--inter);
    font-weight: 600;

}

.home div h3 {
    font-size: clamp(2rem,2.5vw,3rem);
    margin: 0;
    padding: 0;
    font-weight: 400;

}

.home div p {
    margin: 20px 0;
    padding: 0;
    font-size: clamp(0.8rem, 1.2vw,2rem);

}

.img-space {
    min-height: 25vh;
    width: 100%;
}
.vestac{
    font-size: 20px;
    
}




/*-------------------buttton  animation------------------------*/

button {
    cursor: pointer;
    padding: 15px 35px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border: none;
    background-color: var(--pink);
    font-weight: 500;
    font-size: 1vw;
    font-family: var(--poppins);
    color: #d9d9d9;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);

    position: relative;

    z-index: 1;
    outline: none;
}

button:hover {
    color: #ffffff;
    outline: none;
}

button:before {
    content: '';
    background-color: #2a1b3d;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    position: absolute;
    transition: ease-in 0.3s;
    color: #ffffff;
    overflow: hidden;
    opacity: 1;
    z-index: -1;
    outline: none;

}

button:hover::before {
    width: 100%;
    color: #2a1b3d;
    opacity: 1;
    z-index: -1;
    transition: ease-in 0.3s;
    outline: none;


}

/*---------------------------------------------about page---------------------------------------*/
.about {
    min-height: 75vh;
}

.about-div {
    display: inline-flex;
    margin-top: 20vh;
    color: #ffffff;
}

.about-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-left: 14vw;
    
    
   
}

.about-img {
    background-color: rgba(42, 27, 61, 0.3);
    border: 0.5px solid rgba(42, 27, 61, 0.5);
    padding: 10px;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: block;
}

.about-desc {
    margin-right: 12vw;
    padding-left: 5%;
    width: 50%;
}

.about-desc h1 {
    font-size: clamp(2rem, 4.5vw,4.5rem);
    font-family: var(--inter);
    font-weight: 600;
    margin: 0;
}

.about-desc p {
    font-size: clamp(0.8rem, 1vw, 2.5rem);
    margin: 0;
    font-weight: 300;
}



/*-------------------------------------------service styles------------------*/


#service {
    font-family: var(--poppins);
    color: #ffffff;
    display: flex;
    flex-direction: column;
   
    margin: 0 12vw;
   
     min-height: 80vh;
   
    
    

}

.service h1 {
    text-align: center;
    
    margin: 0;
    font-family: var(--inter);
    font-weight: 600;
    font-size: clamp(2rem, 4.5vw,5rem);

}
.hide-pc{
    display: none;
}

.overall-service {
    margin: 1.5rem;
    width: 100%;

    max-height: auto;
    display: flex;
    flex-flow: column nowrap;
    background: var(--desc);
    border: 0.5px solid var(--desc-bord);
    padding: 30px;
    border-radius: 40px;

}

.overall-service div {
    margin: 7% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--inter);
    padding: 0 20px;

}

.overall-service div {
    color: #ffffff;
    font-size: 2vw;
    cursor: default;
}

.overall-service div h2 {
    font-size: clamp(0.5rem, 1.3vw, 1.8rem);
}

.overall-service div a {
    color: #ffffff;
    font-size: clamp(1rem, 1.3vw, 2rem);
    text-decoration: none;
    font-family: var(--poppins);
    font-weight: 800;
}

.overall-service div i {
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.service-glass {
    display: flex;
    justify-content: space-between;
    margin-top: 10vw;

}

.glassdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;

}


.glass {
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 7px;
   
}





.glass h2 {
    color: var(--third-color);
    font-family: var(--inter);
    font-weight: 600;
    font-size: clamp(1rem, 1.2vw, 2.5rem);
    margin: 0;
}

.glass p {
    font-size: clamp(0.5rem, 0.9vw, 2.5rem);
    padding: 0 10px;
    font-weight: 400;
}

/*------------------ ------------------------------------portfolio-------------------*/
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 12vw;
    
}

.space2 {
    height: 10vw;
    width: 100%;
}

.portfolio h1 {
    margin: 0 0 30px 0;
    font-size: clamp(2rem, 4.5vw,5rem);
    font-family: var(--inter);
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2%;
}



.card {
    width: 23.5vw;
    height: 30vw;
    
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card:hover .inner {
    transform: rotateY(180deg);
}



.front,
.back {
    position: absolute;
    width: 100%;
    height: 95%;
    
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    border-radius: 3vw;
}

.back a{
    color: white;
}

@-moz-document url-prefix() {
    @supports (-moz-appearance:none) {
        .card:hover .front {
            transition-delay: 0.6s;
            opacity: 0;
        }

        .front {
            transition-delay: 0.6s;
        }
    }
}

.front {
    background-color: var(--glass);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);

    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
}

.back {
    background-color: var(--glass);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}
.front img {
    width: 100%;
    
    height: auto;
    padding: 5%;

    border-radius: 3vw;
}

.front h2 {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    font-family: var(--inter);
    padding: 0 20px;
}

.front p {
    font-size: clamp(0.5rem, 1vw, 2.5rem);
    padding: 0 20px;
    margin: 0;
}



.front li {
    padding-left: 20px;
}



.backhead {
    font-size: clamp(1rem, 1.3vw, 2rem);
    color: #2a1b3d;
    padding: 0 20px;
    font-weight: 600;
    margin: 10px 0 5px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.backpara {
    font-size: clamp(0.5rem, 0.9vw, 2.5rem);
    padding: 0 20px;
    margin: 0;
    font-weight: 400;
}

.back i {
    font-size: clamp(0.5rem, 0.8vw, 2.5rem);
    padding: 1vw;
    margin-top: 10px;
    border-radius: 30px;
    background-color: var(--desc);
    transition: ease-in 0.3s;
    box-shadow: 3px 3px 10px 1px #2a1b3d;
}

.back i:hover {
    background-color: #2a1b3d;
    transition: ease-in 0.3s;
}

/*-------------------------------------contact---------------------------*/
#contact {
    min-height: 80vh;
    
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.contact>div {

    display: grid;
    grid-template-columns: 3fr 7fr;


   
    color: #ffffff;
    margin-bottom: 20px;
}



.address {

    width: 100%;
    height: 100%;
    padding-right: 5%;





}

.contact-form {

    width: 100%;
    height: 100%;


}

.mail,
.phone,
.location {
    display: flex;

    gap: 20px;
    padding: 20px;
}

.contact-form>form {
    display: flex;
    flex-direction: column;

}


.contact-info i {
    font-size: clamp(1.8rem, 3vw, 2rem);
    background-color: rgba(42, 27, 61, 0.5);
    padding: clamp(0.8rem, 3vw, 1rem);
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.contact-info h1 {
    
    padding: 0 ;
}


.contact-info h2 {
    margin: 0;
    font-size: clamp(.9rem, 2.2vw, 1rem);
    font-family: var(--inter);
    font-weight: 600;
    padding: 0 0 10px;
    color: rgba(42, 27, 61, 0.8);

}

.contact-info p {
    margin: 0;
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-family: var(--inter);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
}


.social-info {
    padding: 0 20px;
}

.social-info>div {

    display: flex;
    flex-direction: row;
}
.contact-info h1{
    padding-left: 20px;
}

.address h1 {
    font-size: clamp(1.5rem, 1vw, 2rem);
    
  
}

.social-info i {
    font-size: clamp(1.5rem, 1vw, 2.5rem);
    background-color: rgba(42, 27, 61, 0.8);
    padding: clamp(2rem,2vw,3rem);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

    border-radius: 50px;
    transition: ease-out 0.3s;
    border: 1px solid var(--desc-bord);
    cursor: pointer;

}

.social-info i:hover {
    transition: ease-out 0.3s;
    color: var(--third-color);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--third-color);

}

.contact-form {
    margin: 0 5%;
    background-color: var(--desc);
    padding: 15px 50px;
    border-radius: 30px;
    width: 100%;
}

.contact-form h1 {
    font-size: clamp(1.5rem, 4vw, 2.8rem);
    margin: 20px 0;
}

.contact-form {
    
    border-radius: 30px;
    width: 90%;



}

.contact-form p {
    font-size: clamp(.9rem, 2.2vw, 1rem);
}

.name,
.email,
.sub {
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-family: var(--poppins);
    background-color: var(--glass);
    color: rgba(255, 255, 255, 1);
}

.contact-form textarea {
    padding: 15px 15px clamp(1.5rem, 3vw, 4.5rem);
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-family: var(--poppins);
    background-color: var(--glass);
    color: rgba(255, 255, 255, 1);
    resize: vertical;

}

.name::placeholder,
.email::placeholder,
.sub::placeholder,
.textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.social-info a{
    color: white;
    text-decoration: none;
}




.submit {
    padding: 10px 25px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-family: var(--poppins);
    background-color: var(--pink);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-size: clamp(0.6rem, 1.2vw, 0.8rem);

}

input:focus,
.textarea:focus {
    outline: none;
    border: none;
}

.submit:hover {
    text-shadow: 0 0 3px #ffffff;
}

.submit {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    transition: ease-in 0.5s;

}

.submit:active {
    box-shadow: none;
    transition: ease-in 0.5s;
}

/***********************************************end of design******************************************/

